@use '../../lib/service.scss'  as s;

.card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 6px black;
	background-color: white;

	&__header {
		flex-grow: 1;
	}

	&__title {
		font-size: 24px;
		font-weight: bold;
		margin: 0;
	}

	&__subtitle {
		font-size: 18px;
		margin-top: 8px;
		color: #666666;
	}

	&__button {
		border: 1px solid s.color('light');
		padding: s.space(2);
		border-radius: 20px;
	}

}
