@use '../../lib/service.scss'  as s;

.heading {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.heading_title {
	font-size: 24px;
	color: #000;
}
.heading_info {
	font-size: 16px;
	color: #000;
}