{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}
<main class='main'>
  <div class='header'>
    <div>
      <h1 class='header__title'>Список товарів</h1>
    </div>
    <div>
      <a
        href='/product-create'
        class='header__click'
      >Назад</a>
    </div>
  </div>
  <div class='form'>
    <div class='form__list'>
      {{>product-card}}
    </div>
  </div>

</main>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}