{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}
<main class='main'>

  <div class="form">
      <div class="form__info">
      <h1 class="form__title">Дія виконана</h1>
      <p class="form__description">{{info}}</p>
    </div>
    <div class="form__active">
      <a href="/product-list" class="form__button">Повернутися назад</a>
    </div>
  </div>

</main>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}