<main class="main">
	{{#with data}}
	<form action="/purchase-change?id={{id}}" method="POST" class="form-card">
	{{>heading title="Змінити данні"}}


	{{>dvider}}

	{{>heading title="Оформлення замовлення"}}

	{{>field label="Ім'я" name="{{firstname}}" value="" }}

	{{>field label="Прізвище" name="lastname" }}
	
	{{>field label="Телефон" name="phone" }}
	
	{{>field label="Пошта" name="email" }}


	{{>button text="Оформлення замовлення"}}
	{{/with}}
	</form>
</main>