<main class="main">
	{{#with data}}
	<form action="/purchase-change?id={{id}}" method="POST" class="form-card">

	{{>dvider}}

	{{>heading title="Змінити Дані"}}

	<p>ID:{{id}}</p>

	{{>field label="Ім'я" name="firstname" value=firstname }}

	{{>field label="Прізвище" name="lastname" value=lastname }}
	
	{{>field label="Телефон" name="phone" value=email}}
	
	{{>field label="Пошта" name="email" value=phone}}


	{{>button text="Зберегти змінити"}}
	{{/with}}
	</form>
</main>